<% include inc/head.html%>
<script type="text/javascript">
    $(function () {
        var ajax = new Ajax();
        $('.go_submit').click(function () {
            var data = $("form").serializeArray();
            var cb = function (result) {
                console.log(result);
                if (result.code == 0) {
                    location.href = '/admin/authors';
                } else {
                    $('#error').text(result.message);
                }
            };
            console.log(data);
            // 更新博客
            ajax.post('/admin/authors_update', data, cb);
            return false;
        });
        var mime = new Array();
        mime[0] = "image/jpeg";
        mime[1] = "image/png";
        mime[2] = "image/jpg";
        function upload_msg(_upload_name, _upload_msg) {
            _str_msg = "<button type=\"button\" class=\"close\" data-dismiss=\"alert\">" +
                "<span aria-hidden=\"true\">&times;</span>" +
                "<span class=\"sr-only\">Close</span>" +
            "</button>" +
            "<div class=\"alert_overflow\">" + _upload_name + "</div>" +
            "<div>" + _upload_msg + "</div>";

            return _str_msg;
        }
        $('#fileupload').fileupload({
            url: '/upload',
            dataType: 'json',
            add: function (e, data) {
                var goUpload = true;
                var file = data.files[0];
                if (jQuery.inArray(file.type, mime) >= 0) {
                    if (file.size > 1024000) {
                        goUpload = false;
                        _str_msg = upload_msg(file.name, "上传文件不能超过 1000 KB");
                        data.context = $("<div/>").html(_str_msg).appendTo("#files");
                        data.context.attr("class", "alert alert-danger alert-dismissible");
                    } else {
                        _str_msg = upload_msg(file.name, "正在上传");
                        data.context = $("<div/>").html(_str_msg).appendTo("#files");
                        data.context.attr("class", "alert alert-info alert-dismissible");
                    }
                } else {
                    goUpload = false;
                    _str_msg = upload_msg(file.name, "不允许上传的类型");
                    data.context = $("<div/>").html(_str_msg).appendTo("#files");
                    data.context.attr("class", "alert alert-danger alert-dismissible");
                }
                if (goUpload) {
                    data.submit();
                }
                setTimeout("$('#files').empty();", 2000);
            },
            done: function (e, data) {
                console.log(data);
                $.each(data.result.files, function (index, file) {
                    $("#authors_img").val(file.path);
                    _str_msg = upload_msg(file.name, "上传成功");
                    $("#preview").attr("src", file.path);
                    data.context.html(_str_msg);
                    data.context.attr("class", "alert alert-success  alert-dismissible");
                    //data.context.html($("img").attr("src", file.path).css("width", "100%")).removeAttr("class");
                });

                setTimeout("$('#file').empty();", 1000);
            },
            progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }
        }).prop('disabled', !$.support.fileInput)
        .parent().addClass($.support.fileInput ? undefined : 'disabled');
    })
</script>
<div class="container-fluid">
   <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        <% include inc/left.html%>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="form-group">
		    <ul class="list-inline">
			    <li>
				    <a href="/admin/authors">
					    <span class="glyphicon glyphicon-chevron-left"></span>
					    返回
				    </a>
			    </li>
			    <li>
				    <a href="#" target="_blank">
					    <span class="glyphicon glyphicon-question-sign"></span>
					    帮助
				    </a>
			    </li>
		    </ul>
	    </div>
        <form name="article_form" id="article_form" method="post">
            <input type="hidden" value="<%=model.img%>" id="authors_img" name="authors_img" />
            <input type="hidden" value="<%=model._id%>" id="authors_id" name="authors_id" />
            <div class="row">                
			    <div class="col-md-3">
                    <div class="well">
				    <div class="form-group"> 
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>上传照片</span>
                                <!-- The file input field used as target for the file upload widget -->
                                <input id="fileupload" type="file" name="files[]">
                            </span> 
                        </div>  
                        <!-- The global progress bar -->
                        <div id="progress" class="progress" style="display:none;">
                            <div class="progress-bar progress-bar-success"></div>
                        </div>
                        
                        <!-- The container for the uploaded files -->
                        <div id="files" class="files"></div>
                        <p class="text-muted">
                            <img src="<%=model.img%>" id="preview" style="width:100%"/>
                            </p>
                    </div>
                </div>
			    <div class="col-md-9">
				    <div class="form-group">
						<div id="group_post_title">
							<label for="authors_name" class="control-label">姓名<span id="msg_authors_name">*</span></label>
							<input type="text" name="authors_name" id="authors_name" placeholder="必填" value="<%=model.name%>" class="validate form-control">
						</div>
					</div>                                                   
                    <div class="form-group">
						<div id="group_authors_phone">
						    <label for="authors_phone">电话</label>
							<input type="text" name="authors_phone" id="authors_phone" value="<%=model.phone%>" placeholder="选填" class="validate form-control">
						</div>
					</div>
                                    
                    <div class="form-group">
						<div id="group_authors_desc">
							<label for="authors_desc" class="control-label">简介<span id="msg_authors_desc"></span></label>
                            <textarea rows="2" cols="40" class="form-control" name="authors_desc"  placeholder="请输入简介" id="authors_desc"><%=model.desc%></textarea>
						</div>
					</div> 
                    <div class="form-group">
						<button type="button" class="go_submit btn btn-primary">保存</button>
                        <p class="text-danger"><small class="red" id="error"></small></p>
					</div>
                </div>                
            </div>    

        </form>
    </div>
  </div>
</div>
<% include inc/footer.html%>