<% include ../inc/head.html%>
<script>
    $(function () {
        var ajax = new Ajax();
        $('.go_submit').click(function () {
            $("input[type='checkbox']").each(function () {
                if ($(this).is(":checked")) {
                    $(this).val(1);
                } else {
                    $(this).val(0);
                }
            })
            var data = $("form").serializeArray();
            var cb = function (result) {
                if (result.code == 0) {
                    location.href = '/admin/kpis';
                } else {
                    var msg = result.message.split(':');
                    $("#error").text(msg[1]);
                }
            };
            ajax.post('/admin/kpis_update', data, cb);
            return false;
        });
        $(".total").on("keyup", function () {
            var total = 0;
            $(".total").each(function (key, val) {
                if ($(this).val()!=="") total += parseInt($(this).val());
            })
            $("#kpis_total").val(total);
        })
    })
</script>
<div class="container-fluid">
   <div class="row">
    <div class="sidebar">
        <% include ../inc/left.html%>
    </div>
    <div class="main">
        <div class="form-group">
            <ul class="list-inline">
                <li>
                    <a href="/admin/kpis">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        返回
                    </a>
                </li>
                <li>
                    <a href="#" target="_blank">
                        <span class="glyphicon glyphicon-question-sign"></span>
                        帮助
                    </a>
                </li>
            </ul>
        </div>
        <form name="article_form" id="article_form" method="post">
            <input type="hidden" name="kpis[type]" value="<%=type%>"/>
            <input type="hidden" name="kpis[_id]" value="<%=model._id%>"/>
            <div class="row">
                <div class="col-md-3">
                    <div class="well">
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">德</button>
                            </span>
                            <input type="text" name="kpis[de]" id="kpis[de]" value="<%=model.de%>" placeholder="请输入0~20" class="form-control total">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger">分</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">能</button>
                            </span>
                            <input type="text" name="kpis[neng]" id="kpis[neng]" value="<%=model.neng%>" placeholder="请输入0~20" class="form-control total">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger">分</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">勤</button>
                            </span>
                            <input type="text" name="kpis[qin]" id="kpis[qin]" value="<%=model.qin%>" placeholder="请输入0~20" class="form-control total">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger">分</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">绩</button>
                            </span>
                            <input type="text" name="kpis[ji]" id="kpis[ji]" value="<%=model.ji%>" placeholder="请输入0~20" class="form-control total">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger">分</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">廉</button>
                            </span>
                            <input type="text" name="kpis[lian]" id="kpis[lian]" value="<%=model.lian%>" placeholder="请输入0~20" class="form-control total">
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger">分</button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                            <span class="input-group-btn">
                            <button type="button" class="btn btn-danger">综合</button>
                            </span>
                            <input type="text" name="kpis[total]" id="kpis[total]"  value="<%=model.total%>" placeholder="动态计算" class="form-control" readonly>
                                <span id="msg_kpis[total]"></span>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-danger">分</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="panel panel-danger">
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="input-group">
                                <select  id="kpis[year]" name="kpis[year]" class="form-control">
                                    <%for(var i=2010;i<=2020;i++){
                                    var selected=(parseInt(i)===parseInt(year))?"selected":"";%>
                                    <option value="<%=i%>" <%=selected%>><%=i%></option>
                                    <%}%>
                                </select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger">年</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                <select  id="kpis[month]" name="kpis[month]" class="form-control">
                                    <%for(var i=1;i<13;i++){
                                    var m=i>9?i:'0'+i;
                                    var selected=(parseInt(m)===parseInt(month))?"selected":"";
                                    %>
                                    <option value="<%=i%>" <%=selected%>><%=m%></option>
                                    <%}%>
                                </select>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-danger">月</button>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="kpis_title" class="control-label">名称<span id="msg_kpis_title">*</span></label>
                                <input type="text" name="kpis[title]" id="kpis[title]" value="<%=model.title%>" placeholder="必填" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="kpis_unit" class="control-label">单位<span id="msg_kpis_unit"></span></label>
                                <input type="text" name="kpis[unit]" id="kpis[unit]" value="<%=model.unit%>" placeholder="必填" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="kpis_job" class="control-label">科室<span id="msg_kpis_job"></span></label>
                                <input type="text" name="kpis[job]" id="kpis[job]" value="<%=model.job%>" placeholder="必填" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="kpis_position" class="control-label">职位<span id="msg_kpis_position"></span></label>
                                <input type="text" name="kpis[position]" id="kpis[position]" value="<%=model.position%>" placeholder="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                  <input type="checkbox" id="kpis[modelunit]" name="kpis[modelunit]" value="0" <%if(model.modelunit===1){%>checked<%}%>> 服务标兵
                                </label>
                                <label class="checkbox-inline">
                                  <input type="checkbox" id="kpis[advanced]" name="kpis[advanced]" value="0" <%if(model.advanced===1){%>checked<%}%>> 先进个人
                                </label>
                            </div>
                            <div class="form-group form-group-sm">
                                <button type="button" class="go_submit btn btn-danger">保存</button>
                                <p class="text-danger has-error"><small class="red" id="error"></small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
<% include ../inc/footer.html%>