<% include ../inc/head.html%>
	<div class="container-fluid">
		<div class="row">
			<div class="sidebar">
				<% include ../inc/left.html%>
			</div>
			<div class="main">
				<div class="form-group">
					<div class="pull-left">
						<ul class="list-inline">
							<li>
							    <a href="/admin/usergroup/list">
								    <span class="glyphicon glyphicon-chevron-left"></span>
								    返回
							    </a>
						    </li>
							<li><a href="#" id="addUser"><span class="glyphicon glyphicon-plus"></span> 添加成员</a></li>
							<li><a href="#" id="delall"><span class="glyphicon glyphicon-trash"></span> 删除成员</a></li>
							<li><a href="#" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> 帮助 </a></li>
							<li>&nbsp;&nbsp;&nbsp;</li>
							<li>&nbsp;&nbsp;&nbsp;</li>
							<li>&nbsp;&nbsp;<span class="glyphicon glyphicon-leaf"></span>&nbsp;&nbsp;<strong>当前用户群名称 【<%=groupname%>】, 当前成员数：<%=totalcount%>, 成员上限：50人</strong></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<div id="success" class="alert alert-success fade in" style="display:none;">删除成功！</div>
				<div id="error" class="alert alert-danger fade in" style="display:none;">参数非法！</div>
				<div class="form-group">
					<table class="table table-striped table-condensed" id="columnTable">
						<thead>
							<tr>
								<th style="width:30px;">
									<input type="checkbox" name="chkall">
								</th>
								<th style="width:30px">#</th>
								<th>操作</th>
								<th>用户唯一标识</th>
								<th>用户名称</th>
								<th>创建时间</th>
							</tr>
						</thead>
						<tbody>
							<% setusers.forEach(function(item){ %>
								<tr>
									<td>
										<input type="checkbox" value="<%=item._id%>" name="chk" />
									</td>
									<td>
										<%=item.index%>
									</td>
									<td>
										<div class="btn-group">
											<button class="btn btn-xs btn-danger del" type="button" data-id="<%= item._id %>"><span class="glyphicon glyphicon-trash"></span> <span class="statusText">删除</span></button>
										</div>
									</td>
									<td>
										<%=item.mpno%>
									</td>
									<td>
										<%=item.name%>
									</td>
									<td>
										<%=item.createtime%>
									</td>
								</tr>
								<% }) %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="modal_group_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	    <div class="modal-dialog modal-lg">
		    <div class="modal-content">
		        <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel">添加用户成员</h4>
		        </div>
		        <div class="modal-body">
		        	<div class="row">
		        		<table class="table table-striped table-condensed" id="dataTable">
							<thead>
								<tr>
									<th style="width:30px;">
										<input type="checkbox" name="modal_check_all">
									</th>
									<th style="width:30px">#</th>
									<th>操作</th>
									<th>用户唯一标识</th>
									<th>用户名称</th>
									<th>创建时间</th>
								</tr>
							</thead>
							<tbody>
								
							</tbody>
							<tfoot>
								<tr>
									<td colspan="6" style="text-align:center;">
										<div id="page"></div>
									</td>
								</tr>
							</tfoot>
						</table>
		        	</div>
		        	<div class="row" style="text-align: left; padding-top:0px; margin-top:-20px;">
			            <div class="form-group">
	                    	<div class="col-xs-12" style="padding-top:0px; margin-left:5px;">
								<button type="button" class="go_submit btn btn-danger">添加</button>
								<button type="button" class="cancle_submit btn btn-default">取消</button>
		                        <p class="text-danger"><small class="red" id="errorText">&nbsp;&nbsp;</small></p>
	                        </div>
						</div>
					</div>
		        </div>
		    </div>
	    </div>
	</div>
	<script id="tmpl" type="text/x-jquery-tmpl">
		<tr>
			<td>
				<input type="checkbox" value="${_id}" name="chk"/>
			</td>
			<td>${index}</td>
			<td>
				<button class="btn btn-xs btn-default add" type="button" data-id="${_id}"><span class="glyphicon glyphicon-plus"></span> <span class="statusText">添加</span></button>
			</td>
			<td>${mpno}</td>
			<td>${name}</td>
			<td>${createtime}</td>
		</tr>
	</script>
	
	<script>
		var groupid = "<%=groupid%>";
		var groupname = "<%=groupname%>";
		var totalcount = "<%=totalcount%>";
		var pageSize = 12;
		var centerUsers;
		var ajax = new Ajax();
		var alertObj = new Alert({
			checkTable: "#columnTable"
		});
		
		var pageOptions = {
			currentPage: 1,
			totalPages: 1,
			numberOfPages: 10,
			bootstrapMajorVersion: 1,
			alignment: "center",
			onPageClicked: function(e, originalEvent, type, page) {
				if (page > pageOptions.totalPages) {
					pageOptions.currentPage = pageOptions.totalPages;
				} else {
					pageOptions.currentPage = page;
				}
				initData();
			}
		};
		
		$(function() {
			initData();
		});
		
		window.onload = function(){
			$(".del").click(function() {
				$(this).parents("tr").find("input[type='checkbox']").prop("checked", true);
				alertObj.check({
					needConfirm: true,
					confirmAction: delAction
				});
			});
			
			$("#delall").click(function() {
				alertObj.check({
					needConfirm: true,
					confirmAction: delAction
				});
			});
			
			$("#addUser").click(function(){
				$("#modal_group_add").modal("show");
			});
			
			$(".setting").click(function(){
				var groupId = $(this).attr("data-id");
				var groupName = $(this).attr("data-name");
				location.href = "/admin/usergroup/list_child?groupId="+groupId+"&groupname="+groupName;
			});
			
			$(".go_submit").click(function(){
				$("#errorText").text("");
				var $checkBoxs = $("#dataTable").find("tbody td input[type='checkbox']:checked");
				if($checkBoxs != null && $checkBoxs.length != 0){
					var _ids = new Array();
					
					$.each($checkBoxs,function(index){
						_ids.push($(this).val());
					});
					var checkcount = parseInt(totalcount) + _ids.length;
					if(checkcount > 50){
						alert("超过成员上限添加数,当前群组还能添加：（"+(50-totalcount)+"）位成员");
						return;
					}
					var params = matchUserParams(_ids);
					ajax.post("/admin/usergroup/add_child",params,function(result){
						$("#modal_group_add").modal("hide");
						location.reload();
						if (result.code == 0) {
							$("#success").text("创建成功!");
							$("#success").show();
							setTimeout(function() {
								$("#success").hide()
							}, 2000);
						} else {
							$("#error").text("创建失败!");
							$("#error").show();
							setTimeout(function() {
								$("#error").hide()
							}, 2000);
						}
					});
				}else {
					$("#errorText").text("请至少选择一项添加");
				}
				
			});
			
			$(".cancle_submit").click(function(){
				$("#modal_group_add").modal("hide");
			});
			
			$("input[name='modal_check_all']").bind("change",function(){
				var boo_result = Boolean($(this).prop("checked"));
				$("#dataTable").find("tbody td input[type='checkbox']").each(function(){
					if (!boo_result) {
						$(this).prop("checked",false);
					}else{
						$(this).prop("checked",true);
					}
				});
			});	
		};
		
		function delAction($checkBoxs) {
			var param = "";
			$.each($checkBoxs, function(i) {
				var id = $(this).val();
				param += "&ids[" + i + "]=" + id;
			});
			ajax.post('/admin/usergroup/list_user_delete', param, function(result) {
				location.reload();
				if (result.code == 0) {
					$("#success").text("删除成功!");
					$("#success").show();
					setTimeout(function() {
						$("#success").hide()
					}, 1500);
				} else {
					$("#error").text("参数非法!");
					$("#error").show();
					setTimeout(function() {
						$("#error").hide()
					}, 2000);
				}
			});
		}
		
		function initData() {
			var params = {
				groupId:groupid,
				page:pageOptions.currentPage,
				pagesize:pageSize
			}
			$.post('/admin/usergroup/list_never_set', params, function(data) {
				if (data.code == 0) {
					var result = data.message;
					$("#dataTable tbody").empty();
					if (result.list.length > 0) {
						centerUsers = result.list;
						console.log($("#tmpl").tmpl(result.list));
						$("#tmpl").tmpl(result.list).appendTo("#dataTable tbody");
					} else if (pageOptions.currentPage > 1) {
						pageOptions.currentPage--;
						initData();
					}
					pageOptions.totalPages = result.pagecount;
					if (pageOptions.totalPages > 0) {
						$('#page').bootstrapPaginator(pageOptions);
					} else {
						$('#page').empty();
					}
					
					$(".add").unbind("click").bind("click",function(){
						$(this).parents("tr").find("input[type='checkbox']").prop("checked",true);
						var _id = $(this).attr("data-id");
						var _ids = new Array(_id);
						var checkcount = parseInt(totalcount) + 1;
						if(checkcount > 50){
							alert("超过成员上限添加数,当前群组还能添加：（"+(50-totalcount)+"）位成员");
							return;
						}
						var params = matchUserParams(_ids);
						
						ajax.post('/admin/usergroup/add_child',params,function(result){
							location.reload();
							if (result.code == 0) {
								$("#success").text("添加成功!");
								$("#success").show();
								setTimeout(function() {
									$("#success").hide()
								}, 1500);
							} else {
								$("#error").text("添加失败!");
								$("#error").show();
								setTimeout(function() {
									$("#error").hide()
								}, 2000);
							}
						})
					});
				}
			});
		}
		
		function matchUserParams(__ids){
			var bodys = [];
			if(centerUsers!=null && centerUsers.length != 0){
				$.each(centerUsers,function(){
					console.log(inArray(__ids,this._id));
					if(inArray(__ids,this._id) != 0){
						console.log('this.id:'+this._id+","+this.mpno);
						var _obj = {
							mpno:'',
							name:'',
							groupid:groupid,
							createtime:''
						};
						_obj.mpno = this.mpno;
						_obj.name = this.name;
						_obj.createtime = this.createtime;
						bodys[bodys.length] = _obj;
						return true;
					}
					
				});
			}
			console.log(bodys);
			return {bodys:bodys};
		}
		
		function inArray(_ids,_id){
			var bool = 0;
			$.each(_ids,function(){
				if(this == _id){
					bool = 1;
					return false;
				}
			});
			return bool;
		}
	</script>
	<% include ../inc/footer.html%>
