<% include ../inc/head.html%>
<script>
	$(function(){
		var ajax = new Ajax();
		$(".go_submit").click(function(){
			$("#errorText").text("");
			if($("textarea[name='live[rejectreasons]']").val() != ""){
				var params = $("#auth_form").serialize();
	        	ajax.post("/admin/lives/publish/list_reject_submit", params, function (result) {
	                if (result.code == 0) {
	                    $("#success").show();
	                    setTimeout(function(){$("#success").hide()},2000);
	                }else {
	                    $("#error").show();
	                    setTimeout(function(){$("#error").hide()},2000);
	                }
	            });
			}else {
				$("#errorText").text("请填入驳回原因");
			}
        	
        });
	});
</script>
<div class="container-fluid">
   <div class="row">
    <div class="sidebar">
        <% include ../inc/left.html%>
    </div>
    <div class="main">
        <div class="form-group">
		    <ul class="list-inline">
			    <li>
				    <a href="/admin/lives/publish/list">
					    <span class="glyphicon glyphicon-chevron-left"></span>
					    返回
				    </a>
			    </li>
			    <li>
				    <a href="#" target="_blank">
					    <span class="glyphicon glyphicon-question-sign"></span>
					    帮助
				    </a>
			    </li>
		    </ul>
	    </div>
	    <div id="success" class="alert alert-success fade in" style="display:none;">操作成功！</div>
        <div id="error" class="alert alert-danger fade in" style="display:none;">操作失败！</div>
        <form name="auth_form" class="form-horizontal" id="auth_form" method="post">
        	<input type="text" name="live[_id]" value="<%=live._id %>" class="hide" />
        	<input type="text" name="live[status]" value="2" class="hide" />
            <div class="row">
			    <div class="col-xs-11" style="margin-left:15px;padding-top:10px;border: 1px solid #AAAAAA; border-radius: 5px;">
                    <div class="col-xs-12">
	                    <div class="form-group">
	                        <label class="control-label" style="padding-bottom:10px;">驳回原因</label>
	                        <textarea name="live[rejectreasons]" rows="7" style="width:70%;" value="<%=live.rejectreasons %>" placeholder="必填项" class="form-control"><%=live.rejectreasons %></textarea>
	                    </div>
                    </div>
                    <div class="form-group">
                    	<div class="col-xs-12" style="margin-left:5px;">
							<button type="button" class="go_submit btn btn-danger">提交</button>
	                        <p class="text-danger"><small class="red" id="errorText"></small></p>
                        </div>
					</div>
                </div>
            </div>
        </form>
    </div>
  </div>
</div>
<% include ../inc/footer.html%>