<% include ../inc/head.html%>
  <div class="container-fluid">
    <div class="row">
      <div class="sidebar">
        <% include ../inc/left.html%>
      </div>
      <div class="main">
        <div class="form-group">
          <ul class="list-inline">
            <li>
              <a href="/admin/cooper">
                <span class="glyphicon glyphicon-chevron-left"></span> 返回
              </a>
            </li>
            <li>
              <a href="#" target="_blank">
                <span class="glyphicon glyphicon-question-sign"></span> 帮助
              </a>
            </li>
          </ul>
        </div>
        <div class="row">
          <form name="cooper_form" id="cooper_form" method="post">
            <input type="hidden" name="_id" value="<%=list._id %>"/>
            <div class=col-md-3>
              <div class="well">
                <div class="form-group">
                  <label class="control-label">客户类型</label><br>
                  <label class="radio-inline">
                    <input type="radio" name="faith" <%if(list.faith===1){%>checked<%}%> value="1">优质客户
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="faith" <%if(list.faith===0){%>checked<%}%> value="0">普通客户
                  </label>
                </div>
                <div class=" form-group">
                  <label class="control-label">状态</label>
                    <select class="form-control" name="status">
                      <option value="0" <%if(list.status==0){%>selected<%}%>>正常</option>
                      <option value="1" <%if(list.status==1){%>selected<%}%>>待审核</option>
                      <option value="2" <%if(list.status==2){%>selected<%}%>>未通过</option>
                    </select>
                </div>
                <div class="form-group">
                  <label for="control-label">用户头像</label>
                  <div class="thumbnail">
                    <img src="<%=list.img%>" weith="100%">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-9">
              <div  class="panel panel-danger">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <label class="control-label">商户名称<span>*</span></label>
                      <input type="text" value="<%=list.name %>" name="name" placeholder="商户名称" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="control-label">联系人<span>*</span></label>
                      <input type="text" value="<%=list.nickname %>" name="nickname" placeholder="联系人" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="control-label">联系电话<span>*</span></label>
                      <input type="text" value="<%=list.phone %>" name="phone" placeholder="联系电话" class="form-control">
                    </div>
                    <div class="col-md-6 form-group">
                      <label class="control-label">联系地址<span>*</span></label>
                      <input type="text" value="<%=list.ads%>" name="ads" placeholder="联系地址" class="form-control">
                    </div>
                    <div class="col-md-12 form-group">
                      <label class="control-label">详细描述<span>*</span></label>
                      <textarea type="text"  name="desc" placeholder="详细描述" class="form-control"><%=list.desc %></textarea>
                    </div>
                    <div class="col-md-12 form-group">
                      <label class="control-label">申请事由<span>*</span></label>
                      <textarea type="text"  name="cause" placeholder="请填写申请事由" class="form-control"  readonly="readonly"><%=list.cause %></textarea>
                    </div>
                    <div class="col-md-12 form-group">
                      <label class="control-label">拒绝事由<span>*</span></label>
                      <textarea type="text"  name="reject" placeholder="请填写拒绝事由" class="form-control"><%=list.reject %></textarea>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <a type="button" class="go_submit btn btn-danger">提交</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
<script>
  $(function() {
    $(".go_submit").click(function() {
      var data = $("#cooper_form").serializeArray();
      var status=0
      $("#cooper_form input").each(function(index, el) {
        if ($(el).val()=='') {
          status=1
          return false
        }
      });
      if (status) {
         return effect.error('缺少必填项')
      }
      $.post("/admin/set_cooper", data, function(result) {
        effect.show();
        if (result.code == 0) {
          effect.success(function(){ 
            effect.hide();
            window.location.href = "/admin/cooper"
          })
        } else {
          effect.hide();
          effect.error('请求失败')
        }
      });
    });
  });
</script>
  <% include ../inc/footer.html%>