<% include ../inc/head.html%>
<div class="container-fluid">
    <div class="row">
        <div class="sidebar">
            <% include ../inc/left.html%>
        </div>
        <div class="main">
            <div class="form-group">
                <div class="pull-left">
                    <ul class="list-inline">
                        <li><a href="javascript:window.history.go(-1);"><span class="glyphicon glyphicon-chevron-left"></span> 返回</a></li>
                        <li><a href="#" target="_blank"><span class="glyphicon glyphicon-question-sign"></span> 帮助 </a>
                    </ul>
                </div>
                <div class="pull-right">
                    <form name="article_search" id="article_search" action="" method="get" class="form-inline">
                        <div class="form-group">
                            <select name="os" id="os" class="form-control input-sm">
                                <option value="">手机系统</option>
                                <option value="iphone">iphone</option>
                                <option value="android">android</option>
                                <option value="other">other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="text" name="stime" id="stime" value="" placeholder="开始时间" class="input-sm form-control input_dates">
                        </div>
                        <div class="form-group">
                        </div>
                        <div class="input-group">
                            <input type="text" name="etime" id="etime" value="" placeholder="结束时间" class="input-sm form-control input_dates">
                            <span class="input-group-btn">
                                <button type="button" id="submit" class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-search search"></span>
                                </button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
            <table class="table table-striped table-condensed">
                <thead>
                <tr><th style="width:25px;">#</th><th style="width:60px;">os</th><th>用户信息</th><th style="width:180px">创建时间</th></tr>
                </thead>
                <tbody>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="4">
                    <ul id="page"></ul>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
var mid = window.location.search.substring(5);
$(function(){
    $(".input_dates").datetimepicker({
      step:1,
      lang:'ch',
      format:'Y-m-d',
      timepicker:false
    });
    writeList({mid:mid,type:0})
    $('.search').on('click',function(){
      var data=$('#article_search').serializeArray();
      data.push({name:'mid',value:mid})
      data.push({name:'type',value:0})
      options.currentPage=1
      writeList(data);
    })
    //分页初始值
    var options = {
      currentPage: 1,//当前页数
      totalPages: 0,//总页数
      numberOfPages: 12,//做多显示page页
      bootstrapMajorVersion: 1,//版本
      alignment: "center",
      onPageClicked: function (e, originalEvent, type, page) {
        if (page > options.totalPages) {
          options.currentPage = options.totalPages;
        } else {
          options.currentPage = page;
        }
        var data=$('#article_search').serializeArray();
        data.push({name:'page',value:page})
        data.push({name:'mid',value:mid})
        data.push({name:'type',value:0})
        writeList(data)
      }
    };
    //列表页面
    function writeList(data){
      effect.show();
      $.get('/admin/statistics/ajax_list',data,function(result){
        console.log(result)
        if(result.code==1){
          $("table tbody").empty('');
          $("#listtpl")
              .tmpl(result.list)
              .appendTo("table tbody");
          options.totalPages=result.pagecount;
          if (options.totalPages > 0) {
            $('#page').bootstrapPaginator(options);
          } else {
            $('#page').empty();
          }
          effect.hide();
        }else{
          effect.hide();
          effect.error('请求失败')
        }
      })
    };
})
</script>
<script id="listtpl" type="text/x-jquery-tmpl">
  <tr>
    <td>${index}</td>
    <td>${os}</td>
    <td>${useragent}</td>
    <td>${createtime}</td>
  </tr>
</script>
<% include ../inc/footer.html%>